<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}

            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
            <link rel="stylesheet" href="{{asset ('bundles/AccueilTemplate/assets/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{asset ('bundles/AccueilTemplate/assets/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{asset ('bundles/AccueilTemplate/assets/css/form-elements.css') }}">
            <link rel="stylesheet" href="{{asset ('bundles/AccueilTemplate/assets/css/style.css') }}">
            <link rel="stylesheet" href={{asset('bundles/AccueilTemplate/assets/css/jquery.bxslider.css')}} >
            <link rel="icon" type="image/png" href="{{asset("favicon-32x32.png")}}" sizes="32x32">

        {% endblock %}

    </head>
    <body>
        
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
    {% block javascripts %}


        <script type="text/javascript" src="{{asset('bundles/AccueilTemplate/assets/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/AccueilTemplateassets/js/jquery.bxslider.min.js')}}" ></script>
        <script type="text/javascript" src="{{asset('bundles/AccueilTemplate/assets/js/jquery.bxslider.js')}}">  </script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script>
            $("form input.date").datepicker();
        </script>
        <script>
            $(document).ready(function(){
                $('.bxslider').bxSlider({
                    auto: true,
                    mode:'fade',
                    controls: false, // Fleches de controles mettre TRUE pour les afficher
                    pager: false
                });
                $('.bxslider1').bxSlider({
                    pagerCustom: '#bx-pager',
                    auto: true,
                    mode:'fade',
                    controls: false, // Fleches de controles mettre TRUE pour les afficher
                    pager: true

                });
            });
        </script>

    {% endblock %}
</html>
